  <section class="jumbotron text-center">
    <div class="container">
      <h1>Review</h1>
      <p class="lead text-muted">
        あなたのキッチンをレビューして共有しましょう<br>
      </p>
      </p>
    </div>
  </section>
  
  
  <body class="bg-light">
      <%= form_with model: [@kitchen,@post] do |f| %>
    <div class="container">
  <div class="row">
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Review</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="kitchen-img">キッチン写真</label>
              <%= f.file_field :image, accept: "image/*", required: true %>
          </div>
    <div class="col-md-8 order-md-1">
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="review">レビュー</label>
              <%= f.text_area :review, required: true %>
            </div>
          </div>
    <div class="col-md-9 order-md-1">
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="evaluation">評価</label>
             <%= f.hidden_field :kitchen_id %>
             <div id="post_raty">
             </div>
            </div>
          </div>
         <%= f.submit '投稿', class: "btn btn-primary ml2" %>
        <% end %>
      </body>


<script>
var elem = document.getElementById('post_raty');
var opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
  };
  raty(elem,opt);
</script>
