  <section class="jumbotron text-center">
    <div class="container">
      <h1>Review Detail</h1>
      <p class="lead text-muted">
        投稿されたレビューへのコメントが可能です<br>
        <br>
      </p>
      </p>
    </div>
  </section>

  <div class="row">
   <div class="col-12">
    <table class="table table-bordered">
      <thead class="thead-light">
       </thead>
        <tbody>
			<tr>
			  <td class="text-center align-middle">
				<%= @kitchen.maker.name %>
			  </td>
			</tr>
			<tr>
			  <td class="text-center align-middle">
				<%= @kitchen.genre.name %>
			  </td>
			</tr>
			<tr>
			  <td class="align-middle text-center">
				<%= @kitchen.name %>
			  </td>
			</tr>
			<tr>
			  <td class="align-middle text-center">
				<%= image_tag @post.image, size: "300x300" %>
			  </td>
			</tr>
			<tr>
			  <td class="align-middle text-center">
				<%= @post.review %>
			  </td>
			</tr>
			<tr>
				<td class="text-center align-middle">総合評価
				<%#= @kitchen.posts.average(:star) %>
         <div id="post_raty_average"></div>
          <script>
          	var elem = document.getElementById('post_raty_average');
	          var opt = {
	          starOn: "<%= asset_path('star-on.png') %>",
	          starOff: "<%= asset_path('star-off.png') %>",
	          starHalf: "<%= asset_path('star-half.png') %>",
	          half      : false,
	          readOnly: true,
	          score: <%= @kitchen.posts.average(:star) %>,
	          };
	          raty(elem,opt);
         </script>
				</td>
			</tr>
			<tr>
		      <td class="text-center align-middle">
		      <% if @post.customer == current_customer %>
		      <%= link_to "編集", edit_kitchen_post_path, class: "btn btn-primary" %>
		      <%= link_to "削除", kitchen_post_path(@post.kitchen,@post), class: "btn btn-danger", method: :delete %>
	      	<% end %>
			  </td>
			</tr>
			<tr>
		</tbody>
	</table>
 </div>
</div>

  <div class="row">
   <div class="col-12">
    <table class="table table-bordered">
      <thead class="thead-light">
       </thead>
        <tbody>
		    	<% @post.comments.each do |comment| %>
			<tr>
        <td>
				<%= form_with url: post_comment_path(@post.id,comment.id), method: :delete do |f| %>
		    <%= f.hidden_field :kitchen_id, value: params[:kitchen_id] %>
        <%= f.submit '削除' %>
				<% end %>
        </td>
      </tr>
			<tr>
			  <td class="text-center align-middle">
				<%= comment.created_at.strftime('%Y/%m/%d') %>
        <%= comment.customer.nickname %>
        </td>
			</tr>
			<tr>
			  <td class="text-center align-middle">
        <%= comment.reaction %>
        </td>
			</tr>
      <% end %>
			<tr>
        <td>
        <%= link_to "コメント", new_post_comment_path(@post.id,kitchen_id: params[:kitchen_id]), class: "btn btn-primary" %>
        </td>
      </tr>
   </tfoot>
	</table>
