  <section class="jumbotron text-center">
    <div class="container">
      <h1>Kitchin Detail</h1>
      <p class="lead text-muted">
        セレクトした「Kitchin」の詳細ページです<br>
      </p>
      </p>
    </div>
  </section>

  <div class="row">
   <div class="col-12">
    <table class="table table-bordered">
      <thead class="thead-light">
       </thead>
        <tbody>
			<tr>
			  <td class="text-center align-middle">
				<%= @kitchen.maker.name %>
			  </td>
			</tr>
			<tr>
			  <td class="text-center align-middle">
				<%= @kitchen.genre.name %>
			  </td>
			</tr>
			<tr>
			  <td class="align-middle text-center">
				<%= image_tag @kitchen.image, size: "300x300"%>
			  </td>
			</tr>
			<tr>
		      <td class="text-center align-middle">
				<%= @kitchen.price %>~
			  </td>
			</tr>
			<tr>
				<td class="text-center align-middle">総合評価
				<%#= @kitchen.posts.average(:star) %>

         <div id="post_raty_average"></div>
<!--newページのやつ-->
 <script>
	var elem = document.getElementById('post_raty_average');
	var opt = {
	    starOn: "<%= asset_path('star-on.png') %>",
	    starOff: "<%= asset_path('star-off.png') %>",
	    starHalf: "<%= asset_path('star-half.png') %>",
	    half      : false,
	    readOnly: true,
	    score: <%= @kitchen.posts.average(:star) %>,
	  };
	  raty(elem,opt);
</script>

				</td>
			</tr>
		</tbody>
	</table>
   </div>
  </div>

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Review</h1>
      <p class="lead text-muted">
        こちらのキッチンへの投稿
      </p>
    </div>
  </section>

  <div class="row">
   <div class="col-12">
    <table class="table table-bordered">
      <thead class="thead-light">
       </thead>
         <tbody>
    <% @kitchen.posts.each do |post| %>

             <tr>
              <td class="align-middle text-center">
                <%= post.customer.nickname %>
               <%= image_tag post.customer.profile_image, size: "100x100" %>
             </td>
             </tr>
             <tr>
              <td class="align-middle">
              </td>
              </tr>
              <tr>
              <td class="align-middle text-center">
                <%= link_to kitchen_post_path(@kitchen.id,post.id) do %>
                <%= image_tag post.image, size: "300x300" %>
                <% end %>
              </td>
              </tr>
              <tr>
              <td class="text-center align-middle">
                <%= post.review %>
              </td>
              </tr>
              <tr>
              <td class="text-center align-middle">
              <p id="post_raty_<%= post.id %>"></p>
              </td>
              </tr>

 <script>
	var elem = document.getElementById('post_raty_<%= post.id %>');
	var opt = {
	    starOn: "<%= asset_path('star-on.png') %>",
	    starOff: "<%= asset_path('star-off.png') %>",
	    starHalf: "<%= asset_path('star-half.png') %>",
	    half      : false,
	    readOnly: true,
	    score: <%= post.star %>,
	  };
	  raty(elem,opt);
</script>

<% end %>
  <div class="row mt-3">
    <div class="col-12 text-center">
	  <%= link_to "レビュー", new_kitchen_post_path(@kitchen), class: "btn btn-primary ml2" %>
    </div>
  </div>
        </tbody>
      </table>