<h2>商品編集</h2>
<%= form_with model: @kitchen, url: admin_kitchen_path(@kitchen.id), method: :PATCH do |f| %>
<p>商品画像</p>
<%= f.file_field :image, required: true %>
<p>商品名</p>
<%= f.text_field :name, required: true %>
<p>商品説明</p>
<%= f.text_area :introduction, required: true %>
<p>価格</p>
&yen; <%= f.text_field :price, required: true %>
<%= f.submit "変更を保存", class:"btn btn-success" %>
<% end %>

<%= link_to '削除', admin_kitchen_path, method: :delete %>