  <section class="jumbotron text-center">
    <div class="container">
      <h1>キッチン登録</h1>
    </div>
  </section>


  <h2><キッチン一覧></h2>
    <%= link_to "キッチン登録画面", new_admin_kitchen_path, class:"btn btn-primary" %>
      <table class="table table-bordered"> 
        <thead>
          <tr>
            <th>写真</th>
            <th>商品名</th>
            <th>税抜価格</th>
		        <th>ジャンル</th>
		        <th>メーカー</th>
          </tr>
       </thead>

         <tbody>
           <% @kitchens.each do |kitchen| %>
             <tr>
               <td><%= image_tag kitchen.image, size: "100x100" %></td>
               <td><u><%= link_to kitchen.name, admin_kitchen_path(kitchen), style: "color: black;" %></u></td>
               <td>&yen; <%= kitchen.price.to_s(:delimited) %></td>
				       <td><%= link_to kitchen.genre.name, admin_kitchens_path(genre_id: kitchen.genre_id) %></td>
			       	 <td><%= link_to kitchen.maker.name, admin_kitchens_path(maker_id: kitchen.maker_id) %></td>
            </tr>
           <% end %>
        </tbody>
      </table>
        