<nav class="navbar">
  <a href="#" class="navbar-brand">管理者ページ</a>
  <button class="navbar-toggler" type="button"
      data-toggle="collapse"
      data-target="#navmenu1"
      aria-controls="navmenu1"
      aria-expanded="false"
      aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <% if admin_signed_in? %>
  <div class="collapse navbar-collapse" id="navmenu1">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#"><%= link_to "メーカー一覧", admin_makers_path, class:"btn btn-outline-secondary" %></a>
      <a class="nav-item nav-link" href="#"><%= link_to "ジャンル一覧", admin_genres_path, class:"btn btn-outline-secondary" %></a>
      <a class="nav-item nav-link" href="#"><%= link_to "キッチン一覧", admin_kitchens_path, class:"btn btn-outline-secondary" %></a>
      <a class="nav-item nav-link" href="#"><%= link_to "会員一覧", admin_customers_path, class:"btn btn-outline-secondary" %></a>
      <a class="nav-item nav-link" href="#"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-outline-secondary" %></a>
    </div>
  </div>
        <% else %>
        <% end %>
</nav>
