 <!--<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">-->
      <!--<div class="container">-->
      <ul class="navbar-nav ml-auto">

          <% if admin_signed_in? %>
          <li style="margin: 15px;">
            <%= link_to "メーカー一覧", admin_makers_path, class:"btn btn-outline-secondary" %>
          </li>
          <li style="margin: 15px;">
            <%= link_to "ジャンル一覧", admin_genres_path, class:"btn btn-outline-secondary" %>
          </li>
          <li style="margin: 15px;">
            <%= link_to "キッチン一覧", admin_kitchens_path, class:"btn btn-outline-secondary" %>
          </li>
          <li style="margin: 15px;">
            <%= link_to "会員一覧", admin_customers_path, class:"btn btn-outline-secondary" %>
          </li>
          <li style="margin: 15px;">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-outline-secondary" %>
          </li>
        <% else %>
        <% end %>
       </ul>
