<!DOCTYPE html>
<html>
  <head>
    <title>Kitchen's me</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container">
          <a class="navbar-brand p-3 logo" href="/">Kitchen's me</a>
          <% if request.path.match(/\/admin(\/)?/) %>
            <%= render '/layouts/admin_header' %>
          <% else %>
            <%= render '/layouts/customer_header' %>
          <% end %>
        </div>
      </nav>
  　</header>
    <%= yield %>
  </body>
</html>
